.notification {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

.notification-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 300px;
    max-height: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000000;
    border-color: transparent transparent #343A40 transparent;
    text-align: center;
}

.notification-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 100000;
}
.notification-box{
    padding: 10px 0px; 
}

.notification .badge {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 2px 2px;
    border-radius: 100%;
    background: red;
    color: white;
    font-size: 10px;
}
.clear-all-btn {
    background-color: #61d8f0;
}

.notification-content a:hover { background-color: #ddd; }

.notification:hover .notification-content {display: block;}


