{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<div class="content-section">
		<div class="media">
	  	<img class="rounded-circle account-img" src="{{ profile.coach.profile_photo.url }}">        
	  	<div class="media-body">
		  	<h2 class="account-heading">{{ profile.coach.first_name }} {{ profile.coach.last_name }}</h2>
		  	<p class="text-secondary">{{ profile.email }}</p>
		</div>
	</div>
	<small class="text-muted">
        <a class="ml-2" href="{% url 'update_coach' pk=user.coach.pk %}">Update Profile</a>
    </small>
{% endblock content %}
