{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        
        {% if user.is_coach %}
          <img class="rounded-circle account-img" src="{{ user.coach.profile_photo.url }}">
        {% endif %}

        {% if user.is_coachee %}
        <img class="rounded-circle account-img" src="{{ user.coachee.profile_photo.url }}">
        {% endif %}
        
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
      {% if user.is_coach %}
        <small class="text-muted">
          <a class="ml-2" href="{% url 'update_coach' pk=user.coach.pk %}">Update Profile</a>
        </small>
      {% endif %}
      {% if user.is_coachee %}
        <small class="text-muted">
          <a class="ml-2" href="{% url 'update_coachee' pk=user.coachee.pk %}">Update Profile</a>
        </small>
      {% endif %}
    </div>
{% endblock content %}