{% extends "home/base.html" %}
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	{% load static %}
</head>

{% block add-html %}
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/profile_style.css' %}">
		
	<div class="container" style="margin-top:2%">
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<div class="card hovercard">
					<div class="cardheader"></div>
					<div class="avatar">
						<img alt="" src="{{ profile.coach.profile_photo.url }}">
					</div>
					<div class="info" style="margin-top: 10px;">
						{% if user.pk == profile.pk %}
						<a style="float:right;" href="{% url 'change_password' %}">
							<i class="fa fa-lock" style="font-size:36px;"></i>
						</a>
						<a style="float:right;margin-left: 5px;" href="{% url 'update_coach' pk=profile.coach.pk %}">
						<i class="fa fa-edit" style="font-size:36px;"></i>
						</a>
						
						{% endif %}
						<div class="title" style="margin-left:40px">
							{{ profile.coach.first_name }} {{ profile.coach.last_name }}
						</div>
						<div class="desc" style="margin-left:40px">
							{{ profile.coach.area_of_expertise }}
						</div>
					</div>
					<div class="bottom">
						<a href="{{ profile.coach.linkedin }}" style="margin:5px;">
						<i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i>
						</a>
						<a href="mailto:{{ profile.email }}" style="margin:5px;">
						<i class="fa fa-envelope" style="font-size:48px;"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-6" style="width: 50%;">
				<div class="card hovercard">
					<div class="info" style="margin-top: 10px;">
						{% if user.pk == profile.pk %}
						<div class="Bio" style="margin-left:40px">
							<h5>About</h5>
							{{ profile.coach.description|default_if_none:'' }}
						</div>
					</div>
						{% endif %}
				</div>
			</div>
			<div class="col-lg-6 col-sm-6" style="width: 50%;">
				<div class="card hovercard">
					<div class="info" style="margin-top: 10px;">
						{% if user.pk == profile.pk %}
						<div class="contact" style="margin-left:30px">
							<h5>Contact Information</h5>
							{{ profile.coach.location|default_if_none:'' }}
						</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock add-html %}
