{% extends "home/base.html" %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" xmlns:
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.4.9/dist/vue-router.js"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--<link rel="stylesheet" href="fb_post_style.css">-->


<div class="new_post" id = "post_container">
  <div class="testbox">
    <!--    <textarea v-bind:placeholder="Share something with your get_connection_type()" id="content" rows="6"></textarea>-->
    <textarea v-model="newContent" placeholder="Share something..." id="content" rows="6"></textarea>
    <div></div>
    <button id="newPost" :disabled="check_empty" :class="is_active"  v-on:click="createPost" >Post</button>
  </div>

  <div>
    <!--    <ul>-->
    <div v-for="post in current_posts">

      <div class="container">
        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-body">
              <section class="post-heading">
                <div class="row">
                  <div class="col-md-11">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object photo-profile" v-bind:src ="post.creator.profile_photo" width="40" height="40" alt="...">
                        </a>
                      </div>
                      <div class="media-body">

                        <a href="#" class="anchor-username"><h4 class="media-heading">[[post.creator.name]]</h4></a>
                        <a class="anchor-time">[[post.date_posted]] </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <a href="#"><i v-on:click="deletePost([[post.pk]])" class="glyphicon glyphicon-trash"></i></a>
                  </div>
                </div>
              </section>
              <section class="post-body">
                <p>[[post.content]]</p>
              </section>
            </div>
          </div>
        </div>
      </div>
      </article>
    </div>


    </form>
  </div>



</div>

<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#post_container',
    data: {
      current_posts: [],
      con_pk: '',
      newContent: '',
      btnClass: '',
    },
    async created() {
      this.con_pk = "{{con.pk}}";
      var response = await this.get_posts("");
    },
    methods: {

      async get_posts(other_user_pk) {

        var url = 'http://127.0.0.1:8000/api/post/';
        var response = await fetch(url, {
          method: 'list',
          headers: {
            'X-CSRFTOKEN': get_cookie('csrftoken'),
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            'pk': parseInt(this.con_pk),
          })
        });
        this.current_posts = await response.json();
      },
      async createPost() {

        var url = 'http://127.0.0.1:8000/api/post/';
        var msg = String(document.getElementById("content").value)
        console.log("I have reached anyway")
        if (msg !== "") {
          console.log("Message: " + msg);
          console.log("con_pk: " + this.con_pk);
          await fetch(url, {
            method: 'create',
            headers: {
              'X-CSRFTOKEN': get_cookie('csrftoken'),
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              'pk': parseInt(this.con_pk),
              'content': msg,
            })
          });
          document.getElementById("content").value = "";
          this.newContent = "";
        }
        await this.get_posts();
        // await this.get_chats(parseInt(this.selected_user_pk));
      },
      async deletePost(post_pk){
        console.log("del "+post_pk)
        var url = 'http://127.0.0.1:8000/api/post/';
        console.log("deletion underway")
        await fetch(url, {
          method: 'delete',
          headers: {
            'X-CSRFTOKEN': get_cookie('csrftoken'),
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            'post_pk': parseInt(post_pk) ,
          })
        });
        console.log("Deletion done");
        await this.get_posts();
      },


    },

    computed: {
      get_connection_type: function () {
        console.log("We are here")
        var type = String("");
        {{con.is_coachee}}
        if (String()=="True")
        {
          type = "client";
        } else {
          type = "coach";
        }
        return type;
      },
      check_empty: function (){
        if(this.newContent==="")
        {
          return true;
        }
        else
        {
          return false;
        }
      },

      is_active: function (){
        if(this.newContent==="")
        {
          return "button-disabled";
        }
        else
        {
          return "button-enabled";
        }
      }

    },
  });

  function get_cookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

</script>
<style>
  /* <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  } */
  body, div, form, input, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
  }
  h1 {
    font-weight: 400;
  }
  h4 {
    margin: 22px 0 4px;
    color: #095484;
  }
  .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    width: 60%;
    margin: auto;
  }
  form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
  }
  input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
  }
  input:hover, textarea:hover {
    outline: none;
    border: 1px solid #095484;
  }
  .first-name {
    margin-bottom: 22px;
  }
  span {
    color: red;
  }
  th, td {
    width: 21%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
  }
  .first-col {
    width: 16%;
    text-align: left;
  }
  table {
    width: 100%;
  }
  textarea {
    width: calc(100% - 6px);
  }
  .btn-block {
    margin-top: 20px;
    text-align: center;
  }

  .button-disabled{
    opacity: 0.6;
  }

  .button-enabled{
    opacity: 1.0;
  }


  button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #0666a3;
  }
  @media (min-width: 568px) {
    th, td {
      word-break: keep-all;
    }
  }
</style>
{% endblock content %}

