{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div class="container" id="chat_container" style="margin-top: 25px;">
        <div class="content-wrapper">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card m-0">
                        <!-- Row start -->
                        <div class="row no-gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                <div class="users-container">
                                    <div class="chat-search-box">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-info">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                     <div v-html="computed_my_connections"></div>
                                    <ul class="users" style="height: 500px; overflow: auto;">
                                        {% if user.is_coach %}
                                            {% for connection in connections %}
                                            <li class="person" data-chat="{{connection.coachee}}" v-on:click="get_chats({{connection.coachee.user.pk}})">
                                                <div class="user">
                                                    <img src="{{ connection.coachee.profile_photo.url }}" alt="Retail Admin">
                                                </div>
                                                <p class="name-time">
                                                    <span class="name">{{ connection.coachee.first_name}} {{ connection.coachee.last_name}}</span>
                                                </p>
                                            </li>
                                            {% endfor %}
                                        {% endif%}
                                        {% if user.is_coachee %}
                                            {% for connection in connections %}
                                            {% for connection in connections %}
                                            <li class="person" data-chat="{{connection.coachee}}" v-on:click="get_chats({{connection.coach.user.pk}})">
                                                <div class="user">
                                                    <img src="{{ connection.coach.profile_photo.url }}" alt="Retail Admin">
                                                </div>
                                                <p class="name-time">
                                                    <span class="name">{{ connection.coach.first_name}} {{ connection.coach.last_name}}</span>
                                                </p>
                                            </li>
                                            {% endfor %}
                                            {% endfor %}
                                        {% endif%}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                                <div class="chat-container">
                                    <div v-html="computed_current_chat"></div>
                                    <div class="form-group mt-3 mb-0">
                                        <textarea v-on:keyup.enter="send_message()" class="form-control" id="input_message" rows="1"  placeholder="Type your message here..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row end -->
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- Content wrapper end -->
    </div>
    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#chat_container',
            data: {
                selected_chat_data: [],
                my_connections: [],
                selected_user_pk: '',
            },
            async created() {
                await this.get_connections();
                // check base case
                if ("{{user.is_coach}}" == "False"){
                    await this.get_chats("{{connections.0.coach.user.pk}}");
                }
                if ("{{user.is_coach}}" == "True"){
                    await this.get_chats("{{connections.0.coachee.user.pk}}");
                }    
		    },
            methods: {
                async get_chats(other_user_pk) {
                    var response = await fetch('http://127.0.0.1:8000/api/chat/' + String(other_user_pk) + '/');
                    this.selected_chat_data = await response.json();
                },
                async get_connections() {
                    var response = await fetch('http://127.0.0.1:8000/api/connection/');
                    this.my_connections = await response.json();
                },
                async send_message() {
                    var url = 'http://127.0.0.1:8000/api/chat/';
                    var msg = String(document.getElementById("input_message").value).replace(/(\r\n|\n|\r)/gm, "")
                    console.log(msg);
                    await fetch(url, {
                        method: 'post',
                        headers: {
                        'X-CSRFTOKEN' : get_cookie('csrftoken'),
                        'Content-Type': 'application/json'
                        },
                        body:JSON.stringify({
                            "pk": parseInt(this.selected_user_pk),
                            "message" : msg
                        })
                    });
                    document.getElementById("input_message").value = ""
                    await this.get_chats(parseInt(this.selected_user_pk));
                },
            },
            computed: {
                computed_current_chat : function() {
                    var chat_messages =  this.selected_chat_data;
                    let result = '<ul class="chat-box chatContainerScroll" style="height: 500px; overflow: auto; display: flex; flex-direction: column-reverse;">';
                    for(let i = 0;i < chat_messages.length; i++ ) {
                        if (String(chat_messages[i]['sender']['pk']) == '{{user.pk}}'){
                            this.selected_user_pk = chat_messages[i]['receiver']['pk'];
                            result += `<li class="chat-left">
                                            <div class="chat-avatar">
                                                <img src="/images/` + chat_messages[i]["sender"]["profile_photo"] + `" alt="Retail Admin">
                                                <div class="chat-name">` + chat_messages[i]["sender"]["name"] + `</div>
                                            </div>
                                            <div class="chat-text">` + chat_messages[i]["message"] + `</div>
                                            <div class="chat-hour">` + chat_messages[i]["time"] + `<span class="fa fa-check-circle"></span></div>
                                        </li>`    
                        }
                        else{
                            this.selected_user_pk = chat_messages[i]['sender']['pk'];
                            result += `<li class="chat-right">      
                                            <div class="chat-hour">` + chat_messages[i]["time"] + `<span class="fa fa-check-circle"></span></div>
                                            <div class="chat-text">` + chat_messages[i]["message"] + `</div>
                                            <div class="chat-avatar">
                                                <img src="/images/` + chat_messages[i]["sender"]["profile_photo"] + `" alt="Retail Admin">
                                                <div class="chat-name">` + chat_messages[i]["sender"]["name"] + `</div>
                                            </div>
                                        </li>`
                        }
                    }
                    result += `</ul>`
                    return result
                },
                computed_my_connections : function() {
                    var connections =  this.my_connections;
                    let result = '<ul class="users">';
                    if ("{{user.is_coach}}" == "True"){
                        for(let i = 0;i < connections.length; i++ ) {
                            result += `<li class="person" data-chat="` + String(connections[i]["coachee"]["first_name"]) + `" v-on:click="get_chats(`+ String(connections[i]["coachee"]["user_pk"]) + +`)">
                                            <div class="user">
                                                <img src="`+ String(connections[i]["coachee"]["profile_photo"]) +`" alt="Retail Admin">
                                            </div>
                                            <p class="name-time">
                                                <span class="name">`+ connections[i]["coachee"]["first_name"]+ ` `+ connections[i]["coachee"]["last_name"] + `</span>
                                            </p>
                                        </li>`
                        }
                    }
                    else{
                        for(let i = 0;i < connections.length; i++ ) {
                            result += `<li class="person" data-chat="` + String(connections[i]["coach"]["first_name"]) + `" v-on:click="get_chats(`+ String(connections[i]["coach"]["user_pk"]) + +`)">
                                            <div class="user">
                                                <img src="`+ String(connections[i]["coach"]["profile_photo"]) +`" alt="Retail Admin">
                                            </div>
                                            <p class="name-time">
                                                <span class="name">`+ connections[i]["coach"]["first_name"]+ ` `+ connections[i]["coach"]["last_name"] + `</span>
                                            </p>
                                        </li>`
                        }
                    }
                    result += `</ul>`
                    return result
                }
            }
        });

        function get_cookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>

    <style>
        body{margin-top:20px;}
    /*************** 1.Variables ***************/


    /* ------------------ Color Pallet ------------------ */


    /*************** 2.Mixins ***************/


    /************************************************
        ************************************************
                                            Search Box
        ************************************************
    ************************************************/

    .chat-search-box {
        -webkit-border-radius: 3px 0 0 0;
        -moz-border-radius: 3px 0 0 0;
        border-radius: 3px 0 0 0;
        padding: .75rem 1rem;
    }

    .chat-search-box .input-group .form-control {
        -webkit-border-radius: 2px 0 0 2px;
        -moz-border-radius: 2px 0 0 2px;
        border-radius: 2px 0 0 2px;
        border-right: 0;
    }

    .chat-search-box .input-group .form-control:focus {
        border-right: 0;
    }

    .chat-search-box .input-group .input-group-btn .btn {
        -webkit-border-radius: 0 2px 2px 0;
        -moz-border-radius: 0 2px 2px 0;
        border-radius: 0 2px 2px 0;
        margin: 0;
    }

    .chat-search-box .input-group .input-group-btn .btn i {
        font-size: 1.2rem;
        line-height: 100%;
        vertical-align: middle;
    }

    @media (max-width: 767px) {
        .chat-search-box {
            display: none;
        }
    }


    /************************************************
        ************************************************
                                        Users Container
        ************************************************
    ************************************************/

    .users-container {
        position: relative;
        padding: 1rem 0;
        border-right: 1px solid #e6ecf3;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }


    /************************************************
        ************************************************
                                                Users
        ************************************************
    ************************************************/

    .users {
        padding: 0;
    }

    .users .person {
        position: relative;
        width: 100%;
        padding: 10px 1rem;
        cursor: pointer;
        border-bottom: 1px solid #f0f4f8;
    }

    .users .person:hover {
        background-color: #ffffff;
        /* Fallback Color */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
        /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
        /* FF3.6 */
        background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
        /* IE10 */
        background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
        /* Opera 11.10+ */
        background-image: linear-gradient(right, #e9eff5, #ffffff);
    }

    .users .person.active-user {
        background-color: #ffffff;
        /* Fallback Color */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
        /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
        /* FF3.6 */
        background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
        /* IE10 */
        background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
        /* Opera 11.10+ */
        background-image: linear-gradient(right, #f7f9fb, #ffffff);
    }

    .users .person:last-child {
        border-bottom: 0;
    }

    .users .person .user {
        display: inline-block;
        position: relative;
        margin-right: 10px;
    }

    .users .person .user img {
        width: 48px;
        height: 48px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    .users .person .user .status {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        background: #e6ecf3;
        position: absolute;
        top: 0;
        right: 0;
    }

    .users .person .user .status.online {
        background: #9ec94a;
    }

    .users .person .user .status.offline {
        background: #c4d2e2;
    }

    .users .person .user .status.away {
        background: #f9be52;
    }

    .users .person .user .status.busy {
        background: #fd7274;
    }

    .users .person p.name-time {
        font-weight: 600;
        font-size: .85rem;
        display: inline-block;
    }

    .users .person p.name-time .time {
        font-weight: 400;
        font-size: .7rem;
        text-align: right;
        color: #8796af;
    }

    @media (max-width: 767px) {
        .users .person .user img {
            width: 30px;
            height: 30px;
        }
        .users .person p.name-time {
            display: none;
        }
        .users .person p.name-time .time {
            display: none;
        }
    }


    /************************************************
        ************************************************
                                        Chat right side
        ************************************************
    ************************************************/

    .selected-user {
        width: 100%;
        padding: 0 15px;
        min-height: 64px;
        line-height: 64px;
        border-bottom: 1px solid #e6ecf3;
        -webkit-border-radius: 0 3px 0 0;
        -moz-border-radius: 0 3px 0 0;
        border-radius: 0 3px 0 0;
    }

    .selected-user span {
        line-height: 100%;
    }

    .selected-user span.name {
        font-weight: 700;
    }

    .chat-container {
        position: relative;
        padding: 1rem;
    }

    .chat-container li.chat-left,
    .chat-container li.chat-right {
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .chat-container li img {
        width: 48px;
        height: 48px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }

    .chat-container li .chat-avatar {
        margin-right: 20px;
    }

    .chat-container li.chat-right {
        justify-content: flex-end;
    }

    .chat-container li.chat-right > .chat-avatar {
        margin-left: 20px;
        margin-right: 0;
    }

    .chat-container li .chat-name {
        font-size: .75rem;
        color: #999999;
        text-align: center;
    }

    .chat-container li .chat-text {
        padding: .4rem 1rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #ffffff;
        font-weight: 300;
        line-height: 150%;
        position: relative;
    }

    .chat-container li .chat-text:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 10px;
        left: -20px;
        border: 10px solid;
        border-color: transparent #ffffff transparent transparent;
    }

    .chat-container li.chat-right > .chat-text {
        text-align: right;
    }

    .chat-container li.chat-right > .chat-text:before {
        right: -20px;
        border-color: transparent transparent transparent #ffffff;
        left: inherit;
    }

    .chat-container li .chat-hour {
        padding: 0;
        margin-bottom: 10px;
        font-size: .75rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 15px;
    }

    .chat-container li .chat-hour > span {
        font-size: 16px;
        color: #9ec94a;
    }

    .chat-container li.chat-right > .chat-hour {
        margin: 0 15px 0 0;
    }

    @media (max-width: 767px) {
        .chat-container li.chat-left,
        .chat-container li.chat-right {
            flex-direction: column;
            margin-bottom: 30px;
        }
        .chat-container li img {
            width: 32px;
            height: 32px;
        }
        .chat-container li.chat-left .chat-avatar {
            margin: 0 0 5px 0;
            display: flex;
            align-items: center;
        }
        .chat-container li.chat-left .chat-hour {
            justify-content: flex-end;
        }
        .chat-container li.chat-left .chat-name {
            margin-left: 5px;
        }
        .chat-container li.chat-right .chat-avatar {
            order: -1;
            margin: 0 0 5px 0;
            align-items: center;
            display: flex;
            justify-content: right;
            flex-direction: row-reverse;
        }
        .chat-container li.chat-right .chat-hour {
            justify-content: flex-start;
            order: 2;
        }
        .chat-container li.chat-right .chat-name {
            margin-right: 5px;
        }
        .chat-container li .chat-text {
            font-size: .8rem;
        }
    }

    .chat-form {
        padding: 15px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        border-top: 1px solid white;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .card {
        border: 0;
        background: #f4f5fb;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin-bottom: 2rem;
        box-shadow: none;
    }
    </style>
{% endblock content %}
