<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
		<title> Dashboard</title>
	</head>
	<body>
		<header class="site-header">
			<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #baedf7; z-index: 100;">
				<div class="container">
					<a class="navbar-brand mr-4" href="{% url 'home' %}">Business Coaching</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						<div class="navbar-nav mr-auto">
							<a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
							{% if user.is_authenticated %}
							<a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
							{% endif %}
						</div>
						<!-- Navbar Right Side -->
						<div class="navbar-nav">
							{% if user.is_authenticated %}
							<a class="nav-item nav-link" href="{% url 'profile' user.pk %}">Profile</a>
							<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
							{% else %}
							<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
							<a class="nav-item nav-link" href="{% url 'register_coach' %}">Register as Coach</a>
							<a class="nav-item nav-link" href="{% url 'register_coachee' %}">Register as Client</a>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div class="container" style="float: left; padding-left: 15%; width: 200px;">
			<div class="row" style="width: 200px;">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="float: left;">
					<div class="sidebar-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="#">
								<span data-feather="home"></span>
								Dashboard <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#schedule-meeting">
								<span data-feather="home"></span>
								Upcoming Events <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#app">
								<span data-feather="home"></span>
								Client Requests <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#">
								<span data-feather="home"></span>
								Client Pages <span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- About Me -->
		<div id ="about-me">
			<div class="media">
				<img class="rounded-circle account-img" src="{{ profile.coach.profile_photo.url }}">        
				<div class="media-body">
					<h2 class="account-heading">{{ profile.coach.first_name }} {{ profile.coach.last_name }}</h2>
					<p class="text-secondary">{{ profile.email }}</p>
				</div>
			</div>
		</div>


		<!-- Google Calendar/ Upcoming Events -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}">
		<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<div class="main-container-wrapper" id = "my-calendar">
			<div class='authentification'>
				<h3>Google Calendar</h3>
				Authentication
				<button v-if='!authorized' @click="handleAuthClick">Sign In</button>
				<button v-if='authorized' @click="handleSignoutClick">Sign Out</button>
			</div>
			<div class="events-container" style ="overflow:scroll; height: 400px;" v-if="authorized">
				<span class="events__title"> Upcoming events this week</span>
				<ul class="events__list" >
					<li class="events__item" v-for="item in items" :key = "item.id" >
						<div class="events__item--left">
							<span class="events__name">[[item.summary]]</span>
							<span class="events__date">[[item.start.date]]</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- Trying vue JS -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://apis.google.com/js/api.js"></script>
		<script>
			// Client ID and API key from the Developer Console
			var CLIENT_ID = '819280097234-ss817nfmqbh9np1p7itjrii6t7v112kh.apps.googleusercontent.com';
		  	var API_KEY = 'AIzaSyCDzAX35SUf5lcqjCOKiNKkosSmKnULUfY';
			// Array of API discovery doc URLs for APIs used by the quickstart
			const DISCOVERY_DOCS = ['https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest'];
			// Authorization scopes required by the API; multiple scopes can be
			// included, separated by spaces.
			const SCOPES = 'https://www.googleapis.com/auth/calendar.readonly';


			new Vue({
			el: '#my-calendar',
			delimiters: ['[[', ']]'],

			data() {
				return {
				items: undefined,
				api: undefined,
				authorized: false
				}
			},
			created() {
				console.log('Created')
				this.api = gapi;
				this.handleClientLoad();
			},

			methods: {
				/**
				 *  On load, called to load the auth2 library and API client library.
				 */
				handleClientLoad() {
				this.api.load('client:auth2', this.initClient);
				},

				/**
				 *  Initializes the API client library and sets up sign-in state
				 *  listeners.
				 */
				initClient() {
				let vm = this;

				vm.api.client.init({
					apiKey: API_KEY,
					clientId: CLIENT_ID,
					discoveryDocs: DISCOVERY_DOCS,
					scope: SCOPES
				}).then(_ => {
					// Listen for sign-in state changes.
					vm.api.auth2.getAuthInstance().isSignedIn.listen(vm.authorized);
				});
				},

				/**
				 *  Sign in the user upon button click.
				 */
				handleAuthClick(event) {
				Promise.resolve(this.api.auth2.getAuthInstance().signIn())
					.then(_ => {
					this.authorized = true;
					this.getData();
					});
				},

				/**
				 *  Sign out the user upon button click.
				 */
				handleSignoutClick(event) {
				Promise.resolve(this.api.auth2.getAuthInstance().signOut())
					.then(_ => {
					this.authorized = false;
					});
				},

				/**
				 * Print the summary and start datetime/date of the next ten events in
				 * the authorized user's calendar. If no events are found an
				 * appropriate message is printed.
				 */
				getData() {
				let vm = this;
				vm.api.client.calendar.events.list({
					'calendarId': 'primary',
					'timeMin': (new Date()).toISOString(),
					'showDeleted': false,
					'singleEvents': true,
					'maxResults': 10,
					'orderBy': 'startTime'
				}).then(response => {
					console.log(response.result.items)
					vm.items = response.result.items;
					console.log(vm.items);
				});
				},

				syntaxHighlight(json) {
				if (typeof json != 'string') {
					json = JSON.stringify(json, undefined, 2);
				}
				json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
				return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, match => {
					var cls = 'number';
					if (/^"/.test(match)) {
					if (/:$/.test(match)) {
						cls = 'key';
					} else {
						cls = 'string';
					}
					} else if (/true|false/.test(match)) {
					cls = 'boolean';
					} else if (/null/.test(match)) {
					cls = 'null';
					}
					return '<span class="' + cls + '">' + match + '</span>';
				});
				}
			}
			});
		</script>
	</body>
</html>