{% extends "home/base.html" %}
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	{% load static %}
</head>

{% block add-html %}
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/profile_style.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<div class="container" style="margin-top:2%">
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<div class="card hovercard">
					<div class="cardheader"></div>
					<div class="avatar">
						<img alt="" src="{{ profile.coach.profile_photo.url }}">
					</div>
					<div class="info">
						{% if user.pk == profile.pk %}
							<a style="float:right;" href="{% url 'update_coach' pk=profile.coach.pk %}">
								<i class="fa fa-edit" style="font-size:36px;"></i>
							</a>
						{% endif %}
						<div class="title">
							<p> {{ profile.coach.first_name }} {{ profile.coach.last_name }}</p>
						</div>
						<div class="desc">{{ profile.email }}</div>
						<div class="desc">{{ profile.coach.description }}</div>
					</div>
					<div class="bottom">
						<a href="{{ profile.coach.linkedin }}">
							<i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i>
						</a>
						{% if user.is_coachee %}
							<div id="app" style="margin-top:15px;">
								<button style="background-color: #baedf7;border: 1px solid;" :disabled="my_request.length != 0" v-on:click="send_request({{ profile.pk }})">[[ get_send_request_button_message ]]</button>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var app = new Vue({
			delimiters: ['[[', ']]'],
			el: '#app',
			data: {
				my_request: '',
		},
		async created() {
			await this.get_my_request();
		},
		methods: {
			async get_my_request() { 
				var response = await fetch('http://localhost:8000/api/connection/' + String('{{ profile.pk }}') + '/');
				this.my_request = await response.json();
			},
			async send_request(coach_pk) {
				var url = 'http://localhost:8000/api/connection/';
				await fetch(url, {
					method: 'post',
					headers: {
					'X-CSRFTOKEN' : get_cookie('csrftoken'),
					'Content-Type': 'application/json'
					},
					body:JSON.stringify({
						"pk": coach_pk,
					})
				});
				await this.get_my_request();
			},
		},
		computed: {
			get_send_request_button_message: function () {
      			if (this.my_request.length == 0) {
					return 'Send Request'
				}
				else {
					if (this.my_request.accepted) {
						return 'Connection'
					}
					else {
						return 'Pending'
					}
				}
    		},
		},
		});
		function get_cookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	</script>
{% endblock add-html %}

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  #btt {
    font-size: 15px;
    float:right;
  }
  #theader {
    text-align: center
  }
</style>